.DS_Store
.vscode/
*.toml

# Project artifacts
build/
build-mac/
results/
calculation-cross/
calculation-inplane/
test-conv-cross/
test-conv-inplane/
test-roughness/

# Python caches
**/__pycache__/
.pytest_cache/
*.sh